/* highlighter */
mark {
  background: linear-gradient(to bottom, transparent 50%, #fedc56 50%);
  font-size: inherit;
}

/* underlining */
u {
  font-size: inherit;
  border-bottom: 1px solid red;
  display: inline-block;
  padding: 0 0.1em;
  text-decoration: none; /* remove default underline */
}

/* red circle */
.redO {
  display: inline-block;
  border: 2px solid red;
  border-radius: 50%;
  padding: 0.2em 0.4em;
}
