/* highlighter */
/*mark {
  background: linear-gradient(to bottom, transparent 40%, #F3d643 60%);
  font-size: inherit;
}*/

mark {
  background: linear-gradient(to right, transparent 2%, #F3d643 5%, #F3d643 102%, transparent 105%);
  font-size: inherit;
  background-size: 100% 80%;
  background-position: -10% 10%;
}



/* cirkle a text w red */
.red-circle {
  position: relative;
  font-size: inherit;
}

.red-circle::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -0.2em;
  top: -0.2em;
  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  border: 1px solid var(--red);
  border-radius: 50%;
  opacity: 0.7;
  transform: rotate(2deg);
}

.red-circle::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -0.2em;
  top: -0.2em;
  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  border: 1px solid #ff0000;
  border-radius: 50%;
  opacity: 0.7;
  transform: rotate(-1deg);
}

/* Creates a blue line under text */
.blue-line {
  position: relative;
  font-size: inherit;
}

.blue-line {
  position: relative;
  display: inline-block;
  font-size: inherit;
}

.blue-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 100%;
  border-bottom: 1px solid blue;
  opacity: 0.7;
  transform: skewY(-3deg);
}


