/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Patrick+Hand+SC&family=Permanent+Marker&display=swap');

/* Colors */
:root {
  --text-color: #222222;
  --red: #FF9A9A;
  --yellow: #fff4bc;
  --white: #ffffff;
}

/* Container for Kanban board */
.kanban-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment as needed */
  flex-wrap: wrap;
}

/* Kanban column */
.kanban-column {
  flex: 1;
  min-width: 200px; /* Adjust width as needed */
  margin-right: 20px; /* Adjust spacing between columns */
}

/* Column header */
.column-header {
  font-family: 'Patrick Hand SC';
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px; /* Add spacing between header and cards */
}

/* Kanban card */
.kanban-card {
  font-family: 'Patrick Hand SC';
  font-size: clamp(10px, 3vw, 20px);
  line-height: 1.2;
  background-color: var(--white);
  width: 150px;
  height: 50px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.15), 0 4px 8px rgba(0,0,0,0.15), 0 8px 16px rgba(0,0,0,0.15), 0 16px 32px rgba(0,0,0,0.15);
  transform: rotate(-2deg);
  position: relative;
  margin-bottom: 10px; /* Add spacing between cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: normal;
}

/* Define background colors using CSS variables */
.kanban-card.yellow {
  background-color: var(--yellow);
}

.kanban-card.red {
  background-color: var(--red);
}

/* Card title */
.card-title {
  font-family: 'Patrick Hand SC';
  font-size: 18px;
  font-weight: bold;
}

/* Card info */
.card-info {
  font-size: 14px;
}

/* Week number */
.week-number {
  margin-left: 5px; /* Add spacing between emoji and week number */
}
