body {
    background-color: #192325;
    background-image: url('../designart/backgroundSplatter.jpeg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: 100vh; /* Adjust the sizing as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
}


* {font-family: Arial, Helvetica, sans-serif;}

a {
    color: #000000;
}

.gallery__item {
    padding-left: 10%;
    padding-right: 10%;
}

.gallery__img {
    width: 100%;
}

.section--top {
    height: 100vh;
}

.section--about {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.img--logo {
    /*My img--logo images have to act totally opporsit so I cant put any general info. But if they were to act as the same it would be in this section of the code*/
}

.img--JeppeO {
    width: 50px; /*specific size*/
    top: 0; /*placed in the top*/
    position: fixed; /*locked to the screen*/
}

.img--YourFacilitator {
    width: 100vw; /*follows browser width*/
    bottom: 0; /*placed in the bottom*/
    position: absolute; /*moves while scrolling*/
}

.contact__inner {
    display: flex; /*This enamles the column setting to be assight eachother*/
}

.contact__column {
    width: 50%; /* This determines the column shall fill up 50% of the width, so 33% for 3 columns */
}