body {
    background: #202020;
} 

.gallery__img {
    width: 100%;
}

.section--top {
    height: 100vh;
}

.img--logo {

}

.img--JeppeO {
    width: 50px;
    top: 0;
    position: fixed;
}

.img--YourFacilitator {
    width: 100vw;
    bottom: 0;
    position: absolute;
}