:root {
  --jeppeo-accent: #1F1B18;
}

html {
  scroll-behavior: smooth;
}

[data-bs-theme="light"] body {
  color: #333333;
}
[data-bs-theme="dark"] body {
  color: #ffffff;
}

[data-bs-theme="dark"] .bg-light {
  background-color: #000000 !important;
}

section {
  padding: 60px 0;
}
footer {
  background: var(--bs-light);
  padding: 20px 0;
  text-align: center;
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}
.theme-toggle {
  cursor: pointer;
}


/* Ændre font */
body {
  font-family: 'Noto Sans', sans-serif;
}

.marker {
  font-family: 'Permanent Marker';
}

.markerRed {
  font-family: 'Permanent Marker';
  color: #ff5f5f;
}

/* Kontakt-knap (btn-primary) i lilla */
.btn-primary {
  background-color: #ff5f5f;
  border-color: #ff5f5f;
}
.btn-primary:hover {
  background-color: transparent;
  color: #ff5f5f;
  border-color: #ff5f5f;
}
/* Ændring af link-farver */
a {
  color: #ff5f5f;
  text-decoration: none;
}
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* my picture - version 3 for bottom-left placement */
.corner-image {
  position: fixed;
  bottom: 1rem;
  left: 1rem; /* eller right: 20px; for højre */
  height: clamp(60px, 12vw, 120px);
  width: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

.corner-image img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* my logo - version 3 for bottom-right placement */
.logo-bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: clamp(60px, 10vw, 125px); /* Minimum 60px, vokser op til 125px */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo-bottom-right img {
  height: 100%;
  width: auto;
  object-fit: contain;
}