/* Font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,300;0,700;1,300&family=Patrick+Hand+SC&display=swap');

.labels text {
    font-family: 'Lato', sans-serif;
    font-size: 8px; /* Example: Adjust as needed */
}

#network {
    width: 100%;
    height: 600px;
}