@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;

*/

/* root styling */
body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

*>*{
  box-sizing: border-box;
}

/* global styling */


/* section styling */